<div class="container">
    <h1 class="text-center">Diary</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
                <div *ngFor='let thought of thoughts;let i = index'>
                    <div>   
                        <h4 id={{i}} appHighlight>{{thought.title}} on {{thought.entryDate|date}}</h4>
                        <button (click)='toggleDetails(i)' class="btn btn-primary">Details</button>
                    </div>
                    <div *ngIf='thought.showDescription'>
                        <app-thought-detail  [thought]='thought' (isComplete) = 'completeThought($event,i)'></app-thought-detail>
                    </div>
                </div>
    
        </div>  
    </div>
<app-thought-form (addThought)="addNewThought($event)"></app-thought-form>

</div>